.navbar, .navbar-dark {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 0;
    font-size: 0.85em;
}

.navbar {
    background-color: transparent;
}

.navbar-dark {
    background-color: transparent;
}

.navbar a, .navbar-dark a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: #aaa;
    letter-spacing: 1px;
    padding: 0;
    margin-right: 20px;
}

.navbar a:hover, .navbar-dark a:hover {
    color: #ffd700;
}

.home-circle {
    position: fixed;
    top: -32px;
    right: -32px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-indent: -30px; /* move text further left */
    padding-top: 18px;  /* keep vertical position */
    text-decoration: none;
    z-index: 100; /* always above gallery content */
}

.home-circle:hover {
    background-color: #f5f5f5;
}

.photo.visible img {
    opacity: 1;
    transform: translateY(0);
}

.icon {
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    display: block;
    float: right;
    margin-top: 7px;
    margin-right: 30px;
    background-repeat: no-repeat;
}

.github-icon {
    background-image: url('/icons/github-logo.png');
}

.github-icon-inverted {
    background-image: url('/icons/github-logo-inverse.png');
}

.linkedin-icon {
    background-image: url('/icons/LinkedIn_Logo.svg.png');
}

.linkedin-icon-inverted {
    background-image: url('/icons/linkedin-logo-inverse.png');
}

.instagram-icon {
    background-image: url('/icons/instagram-script-logo.png');
}

#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #000 url('icons/loading-gif-black.gif') 50% 50% no-repeat;
}

@media screen and (max-width: 600px) {
    .navbar, .navbar-dark {
        top: 15px;
        left: 15px;
        font-size: 0.75em;
    }

    .navbar .divider {
        margin: 0 8px;
    }
}
